* {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 0;

    --text: white;
    --text-alt: black;
    --accent: #C674B2;
    --background: black;

    color: var(--text);
}

html {
    overscroll-behavior-y: none;
}

body {
    margin: 0;

    background: var(--background);

    overscroll-behavior-y: none;
}

p {
    font-size: 1rem;
}

h1 {
    font-weight: 600;

    font-size: 6rem;
}

button {
    font-weight: 500;

    outline: none;
    border: none;

    padding: 10px 12px;

    background: var(--accent);
    color: var(--text-alt);
}